@charset "utf-8";
/* CSS Document */
html, body {
	height: 100%;
background-color:black;
}
body{
	background-color:black;
}
#results{
	top:1px;
	left:.20px;
	border-radius: 15px;
	width:850px;
        float:left;
}
#form{
	border-top:2px solid maroon;
    border-bottom:2px solid maroon;
	border-right:2px solid maroon;
	border-left:2px solid maroon;
	background-color:#333;
	color:black;
	width:600px;
	float:left;
    left:200px;
    top:10px;
}
#addform{
	left:200px;
    top:10px;
}
table th
{
background-color:maroon;
height:auto;
text-align:center;
}
table{
color:white;
display:block;
height:570px;
overflow-y:auto;
}
.table-addform{
background-color:#930;
text-transform:uppercase;
}
#floatleft
{
	float:left;
                
}
#floatRight
{
	float:right;
}
#clear
{
	clear:both;
}

.cat{
	border-bottom-color:#060;
	font-family:"Comic Sans MS", cursive;
}
.cat p{
	font-size:10px;
	font-style:oblique;
	color:#396;
}